.signupForm {
    width: 65%;
    margin: auto;
    margin-top: 100px;
}

/* .signupTitle {
    text-align: center;
    justify-content: center;
} */

#usernameText {
    margin-top: 8px;
}

#tutorGlyphicon {
    font-size: 24px;
    margin-left: 5px;
}

.radioButtons {
    margin-bottom: 7px;
}