.signupForm {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    opacity: .95;
 }
 
 #emailText {
    margin-top: 8px;
 }
 
 .radioButtons {
    margin-bottom: 7px;
 }
 
 #signupTitle {
    color: #b69432 !important;
    border: solid lightgray 1.5px;
    justify-content: space-around;
    border-radius: 5px;
    font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
 
 }
 
 #signupSubmit {
    background-color: #b69432;
 }
 
 .field {
    margin-top: 20px;
 }
 
 #radiotitle {
    margin-right: 10px;
 
 }