.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    background-image: url("./images/honeycomb.png");
    background-size: cover;
}