.signupForm {
    width: 65%;
    margin: auto;
    margin-top: 100px;
}

#usernameText {
    margin-top: 8px;
}

.radioButtons {
    margin-bottom: 7px;
}

#signupTitle {
    color: #b69432 !important;
}

#signupSubmit {
    background-color: #b69432;
}