.loginForm {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    opacity: .95;
 }
 
 #loginTitle {
    color: #b69432 !important;
    border: solid lightgray 1.5px;
    justify-content: space-around;
    border-radius: 5px;
    font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
 }
 #emailText {
    margin-top: 8px;
 }
 
 #loginTitle {
    color: #b69432 !important;
 }
 
 #loginSubmit {
    background-color: #b69432;
 }
 
 .emailfield {
    margin-top: 20px;
 }

 @media only screen and (max-width: 1024px) {
   .loginForm {
       width: 80%;
       margin: auto;
       margin-top: 300px;
       opacity: .95;
    }
 }
 
 @media only screen and (max-width: 414px) {
   .loginForm {
       width: 100%;
       margin: auto 12px;
       margin-top: 100px;
       opacity: .95;
    }
 }