.Site {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    /* background-image: url("../images/background.jpg"); */
    background-size: cover;
}
